default:
  image: hugomods/hugo:latest
  tags:
    - gitlab-org

stages:
  - build
  - deploy

build-site:
  stage: build
  artifacts:
    paths:
      - public/
  script:
    - hugo --minify --baseURL $CI_PAGES_URL

deploy-site:
  stage: deploy
  dependencies:
    - build-site
  pages: true
  script:
    - echo "Deploying site"
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
