:root {
  --text-color: #c0caf5;
  --text-hl: #e6e7ed;
  --text-dimmed: #9aa5ce;
  --background-color: #15161e;
  --background-secondary: #565f89;
  --card-background: #24283b;
  --accent: #7aa2f7;
  --container-padding: 50px;
}

html {
  background-color: var(--background-color);
  color: var(--text-color);
  max-width: 700px;
  margin: 0 auto;
  padding: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    segoe ui,
    helvetica neue,
    Adwaita Sans,
    Cantarell,
    Ubuntu,
    roboto,
    noto,
    helvetica,
    arial,
    sans-serif;
  line-height: 1.5;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  flex: 1;
}

a {
  color: var(--accent);
  text-decoration-thickness: 1px;
}

#site-icon {
  max-width: 30px;
  max-height: 30px;
  border-radius: 15px;
}

#site-title {
  font-size: 20px;
  font-weight: 900;
}

#site-title a {
  color: var(--text-hl);
  text-decoration: none;
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

hr {
  border: 0;
  border-top: 1px solid var(--background-secondary);
}

header {
  padding: 10px 30px;
  border-bottom: 1px solid var(--background-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

header nav {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

header nav a {
  text-decoration: none;
  color: var(--text-hl);
}

header nav a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.container {
  padding: 0 var(--container-padding);
}

.metadata {
  color: var(--text-dimmed);
}

pre {
  font-family: monospace;
  font-size: 0.875rem !important;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  padding: 7px;
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: auto;
  white-space: pre;
  line-height: 1.3;
}

main {
  word-break: break-word;
}

footer {
  padding: 10px 30px;
  margin: 0;
  border-top: 1px solid var(--background-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 700px) {
  .container {
    padding: 0 10px;
  }

  footer,
  header {
    padding: 10px 10px;
  }

  #personal_card {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
  }

  #personal_card img {
    margin: 0 auto;
    max-height: 3rem;
    max-width: 3rem;
  }
}

p code {
  background-color: var(--card-background);
  padding: 2px 4px;
  border-radius: 4px;
}

h1 {
  font-size: 1.7rem;
  font-weight: 900;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-hl);
}

#personal_card {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

#personal_card > img {
  border-radius: 50%;
  height: 100%;
  width: auto;
  max-height: 10rem;
  max-width: 10rem;
  border: 1px solid var(--background-secondary);
}

.card .card-title {
  text-decoration: none;
  font-weight: bold;
  display: block;
  font-size: 14pt;
  color: var(--text-hl);
}

.card {
  border: 1px solid var(--background-secondary);
  border-radius: 10px;
  padding: 10px;
  background-color: var(--card-background);
}

.card-list {
  gap: 15px;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.card #blog-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 11pt;
}

.card #blog-meta #tags {
  display: flex;
  justify-content: space-between;
  gap: 7px;
}
