:root {
  --text-color: #f5f5f7;
  --background-color: #1d1d1f;
  --container-padding: 50px;
}

html {
  background-color: var(--background-color);
  color: var(--text-color);
  max-width: 700px;
  margin: 0 auto;
  padding: 0;
  font-family: "Ubuntu Sans", sans-serif;
  line-height: 1.5;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  flex: 1;
}

a {
  color: #6699cc;
  text-decoration-thickness: 1px;
}

#site-icon {
  max-width: 30px;
  max-height: 30px;
  border-radius: 15px;
}

#site-title {
  font-size: 20px;
  font-weight: bold;
}

#site-title a {
  color: var(--text-color);
  text-decoration: none;
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

hr {
  border: 0;
  border-top: 1px solid #555;
}

header {
  padding: 10px 30px;
  border-bottom: 1px solid #555;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

header nav {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

header nav a {
  text-decoration: none;
  color: var(--text-color);
}

header nav a:hover {
  color: #ccc;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

#pages-list {
  list-style-type: none;
}

#pages-list a {
  /*text-decoration: none;*/
  color: var(--text-color);
}

#pages-list a:hover {
  color: #ccc;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.container {
  padding: 0 var(--container-padding);
}

.metadata {
  color: #ccc;
}

pre {
  font-family: monospace;
  font-size: 0.875rem !important;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  padding: 7px;
  border-radius: 5px;
  overflow-y: auto;
  overflow-x: auto;
  white-space: pre;
  line-height: 1.3;
}

main {
  word-break: break-word;
}

footer {
  padding: 10px 30px;
  margin: 0;
  border-top: 1px solid #555;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 700px) {
  .container {
    padding: 0 10px;
  }

  footer,
  header {
    padding: 10px 10px;
  }
}

p {
  text-align: justify;
}

p code {
  background-color: #333;
  padding: 0 3px;
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}
