:root {
  --text-color: #f5f5f7;
  --background-color: #1d1d1f;
  --container-padding: 25px;
}

html {
  background-color: var(--background-color);
  color: var(--text-color);
  max-width: 650px;
  margin: auto;
  font-family:
    Iowan Old Style,
    Apple Garamond,
    Baskerville,
    Times New Roman,
    Droid Serif,
    Times,
    Source Serif Pro,
    serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol;
}

a {
  color: #6699cc;
  text-decoration-thickness: 1px;
}

#site-title {
  font-size: 20px;
  font-weight: bold;
}

#site-title a {
  color: var(--text-color);
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px solid #555;
}

header {
  padding: 10px var(--container-padding);
  border-bottom: 1px solid #555;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

header nav {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

header nav a {
  text-decoration: none;
  color: var(--text-color);
}

header nav a:hover {
  color: #ccc;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

#pages-list {
  list-style-type: none;
}

#pages-list a {
  /*text-decoration: none;*/
  color: var(--text-color);
}

#pages-list a:hover {
  color: #ccc;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.container {
  padding: 0 var(--container-padding);
}

.metadata {
  color: #ccc;
}

pre {
  font-family:
    Menlo,
    Consolas,
    Monaco,
    Adwaita Mono,
    Liberation Mono,
    Lucida Console,
    monospace;
  font-size: 12px;
  padding: 7px;
  border-radius: 5px;
}
