name: Deploy to github pages

on:
  push:
    branches: [main]

defaults:
  run:
    shell: bash

jobs:
  build:
    name: Building hugo site
    runs-on: ubuntu-latest
    steps:
      - name: Checking out repository
        uses: actions/checkout@v5
        with:
          submodules: true
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: 0.154.5
      - name: Configuring github pages
        id: pages
        uses: actions/configure-pages@v5
      - name: Building static site
        run:
          - hugo --minify --baseURL ${{ steps.pages.outputs.base_url }}
      - name: Uploading static site artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: public/

  deploy:
    name: Deploying static site to github pages
    runs-on: ubuntu-latest
    needs:
      - build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Downloading static site artifact
        id: deployment
        uses: actions/download-artifact@v7
